:root {
    --color-fondo-oscuro: #4A2C2A;
    --color-fondo-claro: #E8D9C6; 
    --color-fondo-generico: #3E3532;
    --color-texto-principal-claro: #ffffff;
    --color-texto-secundario-claro: #a19797; 
    --color-texto-alternativo: #d73365;
    --color-borde: #abe5d9;
}


body {
    background-color: var(--color-fondo-oscuro);
}

/* navbar */
.navbar {
    background-color: var(--color-fondo-generico);
    border-radius: 10px;
}

nav .nav-link{
    color: white;
}

nav .navbarMarca {
    padding-right: 65%;
}

nav .nav-link {
    font-size: 18px;
    text-decoration: none;
    margin-right: 15px;
    color: white;
}

nav .nav-link:hover {
    color: var(--color-texto-alternativo);
}

nav .navbarMarca img {
    height: 60px;
    width: 60px;
}

/* inicio */
#inicio {
    height: 10%;
    color: var(--color-texto-principal-claro);
    background-color: var(--color-fondo-oscuro);
}

#inicio .textoSecundario {
    color: var(--color-texto-secundario-claro);
}

/* sobre */
#sobre {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-principal-claro);
}


/* productos */
#productos {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-principal-claro);
}

.img-circular {
    width: 400px;         
    height: 150px;
    border-radius: 600px; 
    object-fit: cover; 
    border: 3px solid var(--color-borde);
    margin: 10px;
}


/* proceso */
#proceso {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-principal-claro);
}

/* contacto */
#contacto {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-principal-claro);
}

/* separador */
.separador {
    height: 20px;
    background-color: var(--color-fondo-claro); 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.carousel-item img {
    height: 400px;
    object-fit: cover;
}

/* footer */
footer {
    background-color: #333;
    color: white;
}
